= form_for @plugin do |f|
  -if @plugin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@plugin.errors.count, "error")} prohibited this plugin from being saved:"
      %ul
        - @plugin.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr
      %td.label= f.label :name
      %td= f.text_field :name
    %tr
      %td.label= f.label :url
      %td= f.text_field :url
    %tr
      %td.label= f.label :desription
      %td= f.text_field :desription
    %tr
      %td.label= f.label :formula
      %td= f.text_area :formula
    %td= f.hidden_field :user_id
  .actions
    = f.submit 'Save'
