- unless login?
  .right
    = button_to('New Plugin', new_plugin_path)
  .clearfix

%table
  %tr
    %th Name
    %th Desription
    %th

  - @plugins.each do |plugin|
    %tr
      %td= link_to plugin.name, plugin.url
      %td= plugin.desription
      %td
        %ul.button-bar
          %li.first
            = link_to 'Show', plugin
          %li
            = link_to 'Edit', edit_plugin_path(plugin)
          %li.last
            = link_to 'Remove', plugin, :confirm => 'Are you sure?', :method => :delete
