#search-box
  = form_tag({:action => 'index'}, {:method => 'get'}) do
    search: 
    = text_field_tag :q, @keywords


- if login?
  .right
    = button_to('New Plugin', new_plugin_path)
  .clearfix

=paginate @plugins
%table
  %tr
    %th Name
    %th Description
    %th

  - @plugins.each do |plugin|
    %tr
      %td= link_to plugin.name, :action => 'show', :id => plugin
      %td= plugin.description
