= render 'plugins/searchbox', :keywords => @keywords

- if login?
  .right
    = link_to('New Plugin', new_plugin_path, {:class =>'button blue small' })

%table
  %tr
    %th Name
    %th Updated
    %th Description

  - @plugins.each do |plugin|
    %tr
      %td= link_to plugin.name, :action => 'show', :id => plugin
      %td= distance_of_time_in_words_to_now(plugin.updated_at) + ' ago'
      %td= plugin.description
.center
  = paginate @plugins
