- if login?
  .right
    = button_to('New Plugin', new_plugin_path)
  .clearfix

%table
  %tr
    %th Name
    %th Desription
    %th

  - @plugins.each do |plugin|
    %tr
      %td= link_to plugin.name, plugin.url
      %td= plugin.desription
      %td
        %ul.button-bar
          - if login?
            %li.first
              = link_to 'Detail', plugin
            %li.last
              = link_to 'Edit', edit_plugin_path(plugin)
          - else
            %li.first.last
              = link_to 'Detail', plugin
