%p#notice= notice

%p
  %b Name:
  = @plugin.name
%p
  %b Url:
  = @plugin.url
%p
  %b Desription:
  = @plugin.desription
%p
  %b Formula:
  = @plugin.formula
%p
  %b User:
  = @plugin.user.name unless @plugin.user.nil?

= link_to 'Edit', edit_plugin_path(@plugin)
\|
= link_to 'Back', plugins_path

.right
  = button_to 'Remove', @plugin, :confirm => 'Are you sure?', :method => :delete
