- if notice
  %p.notice.success= notice

%table
  %tr
    %td.label Name:
    %td= @plugin.name
  %tr
    %td.label Downloads:
    %td= @plugin.downloads || 0
  %tr
    %td.label Url:
    %td= link_to @plugin.url, @plugin.url
  %tr
    %td.label Description:
    %td= @plugin.description
  %tr
    %td.label Formula:
    %td= text_area_tag 'plugin_formula', @plugin.formula
  %tr
    %td.label Created:
    %td
      - unless @plugin.create_user.nil?
        = link_to_github @plugin.create_user
  %tr
    %td.label Updated:
    %td
      - unless @plugin.update_user.nil?
        = link_to_github @plugin.update_user

.left-buttons
  - if login?
    = link_to 'Edit', edit_plugin_path(@plugin)
    \|
    = link_to 'Back', plugins_path
  - else
    = link_to 'Back', plugins_path

- if login?
  .right-buttons
    = link_to 'Remove', @plugin, :confirm => 'Are you sure?', :method => :delete

:javascript
  var editor = CodeMirror.fromTextArea(document.getElementById("plugin_formula"), {
    mode: "text/x-ruby",
    tabMode: "indent",
    matchBrackets: true,
    indentUnit: 4,
    lineNumbers: true,
    readOnly : true
  });
