!!!
%html
 %head
  %meta{'http-equiv'=>'content', :content=>'text/thml; charset=utf-8'}
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
  = favicon_link_tag 'favicon.ico'
  = csrf_meta_tags
  %title Redbrew | A missing plugin manager for Redmine
 %body
  #wrap
   #header
    #title
     = link_to image_tag("logo.png", :title => "Redbrew"), root_path
    #account
     - if login?
      = link_to_github current_user
      = link_to('Logout', {:controller => 'login', :action => 'logout'}, { :class => 'button small green'})
     - else
      = link_to('Login with Github account', {:controller => 'login', :action => 'oauth'}, {:class => 'button small green'})

   #content
    = yield

  .footer
   Copyright (C) 2012-
   = link_to 'codefirst.org', 'http://www.codefirst.org'
   All rights reserved.
