!!!
%html
 %head
  %meta{'http-equiv'=>'content', :content=>'text/thml; charset=utf-8'}
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  %title Redbrew
 %body
  #wrap.clearfix
   #header.clearfix
    #title Redbrew
    #navi
     %ul
      %li
       - if login?
        = link_to('logout', :controller => 'login', :action => 'logout')
       - else
        = link_to('login', :controller => 'login', :action => 'oauth')
   #content
    = yield

  .footer
   Copyright (C) 2012- codefirst.org 
   All rights reserved.
